main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
 
  --primary:#0E2C55;

  --secondary:#960200;
  --tertiary:#FF9000;
  --light:#F8F7F5;
  --dark:#121420;
  --light-blue: #577399;
  --light-tan: #BFC3BA;

}

* {
  box-sizing: border-box;
  font-family: Ariel, Helvitica, sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--light-tan);
  color: var(--dark);
}

.container {
  width: 85%;
  min-height:100%;
  display:grid;
  grid-template-rows:1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

p {
  font-weight:lighter;
}
li {
  list-style: none;
}

header {
  overflow: hidden;
  background-color: var(--primary) ;
}

header a{
  float: left;
  display: block;
  color: var(--light-tan);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style the topnav links */
.nav a {
  float: right;
  display: block;
  color: var(--light-tan);
  text-align: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link{
  background-color:var(--primary);
  color: var(--secondary);
  border-radius:5px;
}
.nav-link:hover{
  color: var(--secondary);
  background-color:var(--light-tan);
}
.active{
  color: var(--tertiary);
  background: var(--light-blue);
  border-radius: 5px;
}

/* Style the footer */
.footer {
display:hidden;
}
 
.footer a{
  text-decoration: none;
  color:var(--dark);
}

.footer a:hover{
  text-decoration: none;
  color:var(--tertiary);
}
/* ---IMAGES ---*/
.portfolio-image {
  border: 1px solid var(--primary);
  width: 90%;
}

.project-image {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 2px;
  width: 75%;
  
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

/*----------------*/
.flex-row {
  display: flex;
  flex-wrap: wrap;
  

}
.row {
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
}
.column {
  float:left;
}
.left {
  width:100%;
}

.right {
  width: 100%;
}

/*----contact form---*/

.contact-form {
  display:block;
  justify-content: center;
}

.contact-form label{
  display:block;
}

.contact-form input{
  width:75%;
  height:30px;
  
}

.contact-form textarea{
  width:75%;
  border-radius: 5px;
}

.error-message {
  color: var(--secondary);
}

/*--------Buttons--------*/
button {
  background-color:var(--tertiary); /* Green */
  border: none;
  color: var(--primary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
}

button a{
  text-decoration:none;
  color: var(--primary);
  font-weight: bold
}
.close{
  background-color: var(--secondary);
  color:var(--light);
}

.modal-backdrop {
  background: var(--secondary);
  position:absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:60%;
  min-height:60%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  overflow-y:scroll;
}

.modal-container {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  background:var(--light-blue);
  border:5px solid var(--secondary);
  border-radius:8px;
  justify-content: center;
}

.modal-container h3 {
  padding-left:25px;
  font-size: 30px;
  color:var(--light);
}
.modal-container p{
  width:80%;
  padding-left:25px;
  color:var(--light);
  overflow-y:scroll;
}

.modal-buttons {
  align-items: center;
  overflow:auto;
  margin-left:15px;

}
.divider {
  width:5px;
  height:auto;
  display:inline-block;
}

/*larger screens */
@media only screen and (min-width: 600px) {
  .project-image {
    width: 50%;
  }
  .row {
    flex-direction:row;
  }
  .left {
    width:25%;
  }
  
  .right {
    width: 75%;
  }
  
/* --Modal Styles --*/

  /* Style the footer */
.footer {
  background-color: var(--light-blue);
  padding: 10px;
  align-items:center;
  text-align:center;
  justify-content: center;
  display:flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  height: 60px;
}
.footer ul {
  justify-content: center;
}
.footer li {
  display: inline-block;
  justify-content: center;
  text-align:center;
  padding: 10px;
}

.modal-backdrop{
  min-height:40%;
}



}