main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary:#133A70;
  --secondary:#B03215;
  --tertiary:#E69512;
  --light:#F8F7F5;
  --dark:#07162B;
  --light-blue: #577399;
  --light-tan: #C9BFAF;

}

* {
  box-sizing: border-box;
  font-family: Ariel, Helvitica, sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--light-tan);
  color: var(--dark);
}


li {
  list-style: none;
}

header {
  overflow: hidden;
  background-color: var(--primary) ;
}

header a{
  float: left;
  display: block;
  color: var(--light-tan);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Style the top navigation bar */
nav {
  background-color: var(--primary) ;

}

/* Style the topnav links */
nav a {
  float: right;
  display: block;
  color: var(--light-tan);
  text-align: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li{
  float: right;
  display: block;
  color: var(--light-tan);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
nav a:hover, nav li:hover{
  background-color:var(--light-tan);
  color: var(--secondary);
  border-radius:5px;
}

.aboutItem {
  float: right;
  color: var(--light-tan);
  background-color: var(--primary);
  margin-right:2px;
  
}

.aboutItem a {
  background-color:var(--light-tan);
  color: var(--secondary);
  border-radius:5px;
}

.aboutItem a:hover {
  background-color:var(--light-tan);
  color: var(--secondary);
  border-radius:5px;
}
.content {
  background-color: var(--light);
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}


.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}


/* Style the footer */
footer {
  background-color: var(--light-blue);
  padding: 10px;
  align-items:center;
  text-align:center;
  justify-content: center;
  display:flex;
  
}
footer ul {
  justify-content: center;
}
footer li {
  display: inline-block;
  justify-content: center;
  text-align:center;
  padding: 10px;
}
.portfolio-image {
  border: 1px solid var(--primary);
}

.project-image {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 2px;
  width: 75%;
  
}

.flex-row {
  display: flex;
  flex-wrap: wrap;

}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display:block;
  justify-content: center;
}

.contact-form label{
  display:block;
}

.contact-form input{
  width:75%;
  height:30px;
  
}

.contact-form textarea{
  width:75%;
  border-radius: 5px;
}

.error-message {
  color: var(--secondary);
}

.modal-backdrop {
  background: var(--secondary);
}

.modal-container {
  background:var(--light);

}
button {
  background-color:var(--tertiary); /* Green */
  border: none;
  color: var(--primary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
}
.navActive {
  color: var(--tertiary);
  background: var(--light-blue);
  border-radius: 5px;
}

/*larger screens */
@media only screen and (min-width: 600px) {
  .project-image {
    width: 25%;
  }
}