main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary:#133A70;
  --secondary:#B03215;
  --tertiary:#E69512;
  --light:#F8F7F5;
  --dark:#07162B;
  --light-blue: #577399;
  --light-tan: #C9BFAF;

}

* {
  box-sizing: border-box;
  font-family: Ariel, Helvitica, sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--light-tan);
  color: var(--dark);
}

li {
  list-style: none;
}

header {
  overflow: hidden;
  background-color: var(--primary) ;
}

header a{
  float: left;
  display: block;
  color: var(--light-tan);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Style the top navigation bar */
nav {
  background-color: var(--primary) ;
}

/* Style the topnav links */
nav a, nav li {
  float: right;
  display: block;
  color: var(--light-tan);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
nav a:hover, nav li:hover{
  background-color:var(--light-tan);
  color: var(--secondary);
}



/* Style the content */
.content {
  background-color: var(--light);
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
footer {
  background-color: var(--light-blue);
  padding: 10px;
  margin-left: 10px;
  align-items:center;
  text-align:center;
  justify-content: space-between;
  display:inline-block;
  width:100%;
}
footer ul {
  justify-content: space-between;
}
footer li {
  display: inline-block;
  justify-content: space-between;
}
.portfolio-image {
  border: 1px solid var(--primary);
}